@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap'); 

* {
    font-family:'Space Grotesk', sans-serif; 
    color: aliceblue;
}
body{
  background-color: #09161C;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Header */
.header__navigation{
  /* position: sticky; ********************************************** */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 100px;
}
.header__nav-bar{
  display: flex;
  gap: 32px;
}
.header__logo{
  font-size: 32px;
}
.header__link{
  text-decoration: none;
}
.header__link--self{
  padding-left: 90px;
  align-self: center;
}
/* hero */
.hero{
  margin: 0 300px;
  display: flex;
  width: 700px;
  height: 300px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.hero__buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.hero__button{
  box-shadow: 3px 3px 10px 5px #00Cfff, -3px -3px 10px 5px #00Cfff;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
}
.hero__button--color{
  border: solid 2px #00Cfff;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
/* CTA */
.cta{
  width: 650px;
  height: 200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0 320px;
  box-shadow: 3px 3px 10px 5px #00Cfff;
}
.cta__text{
  align-self: center;
  white-space: pre;
}
.cta__button{
  box-shadow: 3px 3px 10px 5px #00Cfff, -3px -3px 10px 5px #00Cfff;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
}
/* footer */
.footer__list--flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__text{
  width: 400px;
}
.footer__list-title, .footer__contact-info--gray{
  color: #c1c1c1;
}
.footer__contact{
  display: flex;
  justify-content: left;
  gap: 110px;
}
.footer__link{
  text-decoration: none;  
}
.footer__contact-info--self{
  align-self: center;
}
ul{
  list-style-type: none;
}
.footer__list-title{
  align-self: center;
}

.footer__last-section{
  display: flex;
  align-items: center;
  flex-flow: wrap;
  gap: 750px;
}
.pages--color, .footer__last-section--color{
  color: #c1c1c1;
  text-decoration: none;
}
/* Games */
.games{
  display: flex;
  justify-content: space-between;
  gap: 18px;

}
.games__card{
  border-radius: 16px;
  width: 300px;
  height: 401px;
  box-shadow: 3px 3px 5px 2px #cc00ff,-3px -3px 5px 2px #00Cfff;
}
.games__card--img1{
    background-image: url(./image/Games1.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.games__card-title, .games__card-info{
  margin:0 0 4px 20px;
  text-decoration: none;
}
.games__card--img2{
    background-image: url(./image/Games2.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.games__card--img3{
    background-image: url(./image/Games3.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.games__card--img4{
    background-image: url(./image/Games4.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.games__card--color{
  color:#00Cfff;
}
/* Blog */
.blog{
  display: flex;

}
.blog__content-info{
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}
.blog__card-title, .blog__button--textDecoration{
  text-decoration: none;
}
.blog__card-title:hover{
  color: #00Cfff;
}
.blog__button{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 8px;
}
.blog__button--color{
  color: #00Cfff;
  padding: 0 8px ;
}
.blog__button--color:hover{
  color: azure;
}
.blog__card-users{
  display: flex;
  justify-content: space-around;
}
/* Teams */
.teams__button{
  color: #cc00ff;
  box-shadow: 3px 3px 10px 5px #cc00ff;
  padding: 3px 20px;
  text-decoration: none;
}
/* Tournaments */
.tournaments__button{
  color: #cc00ff;
  box-shadow: 3px 3px 10px 5px #cc00ff;
  padding: 3px 20px;
  text-decoration: none;
}
/* Event */
.event{
  display: flex;
  justify-content: space-between;
  gap: 18px;

}
.event__card{
  border-radius: 16px;
  width: 300px;
  height: 401px;
  box-shadow: 3px 3px 5px 2px #cc00ff,-3px -3px 5px 2px #00Cfff;
}
.event__card--img1{
    background-image: url(./image/Event1.png);
}
.event__card--img2{
    background-image: url(./image/Event2.png);

}
.event__card--img3{
    background-image: url(./image/Event3.png);

}
.event__card--img4{
    background-image: url(./image/Event4.png);

}
/* login */
.form-container{
  background-color: #090979;
  border-radius: 30px;
  box-shadow: 3px 3px 10px 5px white,-3px -3px 10px 5px rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  width: 500px;
  height: 400px;
  margin: 100px 450px;
  align-items: center;
  flex-flow: column wrap;
}
.form-container h2{
  align-self: center;
  margin-bottom: 20px;

}
.input__grp{
  position: relative;
  margin-bottom: 25px;
}
.input__grp input{
  width: 100%;
  padding: 5px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #c1c1c1;
  color: white;
  font-size: 16px;
}
.login__button{
  color: white;
  width: 60px;
  height: 20px;
  padding: 3px;
  border: 1px solid white;
  background-color: #4C00FF;
  text-decoration: none;
}